<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.upendoshop">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpendoShop"
        tools:targetApi="31">
        <activity
            android:name=".Auth.PasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar"/>
        <activity
            android:name=".Customer.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar" />
        <activity
            android:name=".Customer.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar" />
        <activity
            android:name=".Activities.DashActivity"
            android:exported="true"
            android:theme="@style/Theme.UpendoShop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.UpendoShop.NoActionBar" />
        <activity
            android:name=".Customer.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>